{
  "openapi": "3.0.3",
  "info": {
    "title": "Posiflora API",
    "version": "2022_16-v2",
    "contact": {
      "name": "Support",
      "email": "support@posiflora.com"
    }
  },
  "servers": [
    {
      "url": "https://demo.posiflora.com/api"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/sessions": {
      "summary": "Auth API",
      "post": {
        "summary": "Create session",
        "description": "Creates new session and return access and refresh tokens.",
        "tags": [
          "Auth API"
        ],
        "operationId": "CreateSession",
        "security": [],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of related resources that should be included into response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "worker",
                  "worker.position",
                  "worker.user",
                  "worker.user.roles",
                  "worker.user.roles.permissions"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateSessionReq"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SessionRespoinse"
          }
        }
      },
      "patch": {
        "summary": "Refresh session",
        "description": "Refresh session and returns new access token.",
        "tags": [
          "Auth API"
        ],
        "operationId": "RefreshSession",
        "security": [],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of related resources that should be included into response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "worker",
                  "worker.position",
                  "worker.user",
                  "worker.user.roles",
                  "worker.user.roles.permissions"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RefreshSessionReq"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SessionRespoinse"
          }
        }
      }
    },
    "/v1/customers": {
      "summary": "Customers API",
      "get": {
        "summary": "Get customers list",
        "description": "Returns list of customers according to specified params.",
        "tags": [
          "Customers API"
        ],
        "operationId": "GetCustomersList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Filter by customer update date. If specified return customers updated after specified time.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search filter. Search customers by name, phone or bonus card number.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[idBonus]",
            "in": "query",
            "description": "Filter by bonus group.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[createdBy]",
            "in": "query",
            "description": "Filter by worker who registered customer.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ordersCount][from]",
            "in": "query",
            "description": "Filter by order number (min value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter[ordersCount][to]",
            "in": "query",
            "description": "Filter by orders number (max value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter[discount]",
            "in": "query",
            "description": "Filter by discount group.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[moreBonus]",
            "in": "query",
            "description": "Filter by bonuses amount (min value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter[lessBonus]",
            "in": "query",
            "description": "Filter by bonuses amount (max value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter[moreAvg]",
            "in": "query",
            "description": "Filter by average check (min value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter[lessAvg]",
            "in": "query",
            "description": "Filter by average check (max value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter[create][from]",
            "in": "query",
            "description": "Filter by customer registration date (start date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[create][to]",
            "in": "query",
            "description": "Filter by customer registration date (end date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[birthday][from]",
            "in": "query",
            "description": "Filter by customer birthday (start date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[birthday][to]",
            "in": "query",
            "description": "Filter by customer birthday (end date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[buy][from]",
            "in": "query",
            "description": "Filter by date of buys of customers (start date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[buy][to]",
            "in": "query",
            "description": "Filter by date of buys of customers (end date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[notBuy][from]",
            "in": "query",
            "description": "Filter buy customers who does not made any orders (start date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[notBuy][to]",
            "in": "query",
            "description": "Filter buy customers who does not made any orders (end date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[celebrations]",
            "in": "query",
            "description": "Filter by customer celebrations (comma separated array of celebration IDS).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[preferences]",
            "in": "query",
            "description": "Filter by customer preferences (comma separated array of preference IDS).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[sources]",
            "in": "query",
            "description": "Filter by customer sources (comma separated array of customer source IDS).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[isPerson]",
            "in": "query",
            "description": "Filter by 'individual' customers.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[event][from]",
            "in": "query",
            "description": "Filter by customer events (start date).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[event][to]",
            "in": "query",
            "description": "Filter by customer events (end date).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[gender]",
            "in": "query",
            "description": "Filter by gender.",
            "schema": {
              "type": "string",
              "enum": [
                "male",
                "female"
              ]
            }
          },
          {
            "name": "filter[createdAt][from]",
            "in": "query",
            "description": "Filter by created at (start date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[createdAt][to]",
            "in": "query",
            "description": "Filter by created at (end date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[updatedAt][from]",
            "in": "query",
            "description": "Filter by updated at (start date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[updatedAt][to]",
            "in": "query",
            "description": "Filter by updated at (start date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[revision]",
            "in": "query",
            "description": "Filter by customer revision (min value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available entity includes.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "person",
                  "bonusGroup",
                  "bonusGroup.rules",
                  "discountGroups",
                  "discountGroups.rules",
                  "customerSources",
                  "customerPreferences",
                  "customerEvents",
                  "createdBy"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomersListResponse"
          }
        }
      },
      "post": {
        "summary": "Create customer",
        "description": "Creates new customer.",
        "tags": [
          "Customers API"
        ],
        "operationId": "CreateCustomer",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available entity includes.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "person",
                  "bonusGroup",
                  "bonusGroup.rules",
                  "discountGroups",
                  "discountGroups.rules",
                  "customerSources",
                  "customerPreferences",
                  "customerEvents",
                  "createdBy"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateCustomerReq"
        },
        "responses": {
          "201": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                },
                "example": {
                  "data": {
                    "type": "customers",
                    "id": "8096a6f8-395a-45b4-b87e-9bfbc0f30e79",
                    "attributes": {
                      "title": "Bob Ross",
                      "birthday": "1996-05-16",
                      "email": "bob-ross@posiflora.com",
                      "instagram": "bob-ross96",
                      "status": "on",
                      "isPerson": true,
                      "bonusCard": "1234567890",
                      "notes": "Bob ross is a famous painter",
                      "averageCheck": 0,
                      "ordersAmount": 0,
                      "ordersQty": 0,
                      "createdAt": "2022-07-15T11:55:19+00:00",
                      "updatedAt": "2022-07-15T11:55:19+00:00",
                      "spentPoints": 0,
                      "currentPoints": 0,
                      "gender": "male",
                      "phone": "9268693654",
                      "revision": 3,
                      "countryCode": 7
                    },
                    "relationships": {
                      "person": {
                        "data": null
                      },
                      "discountGroups": {
                        "data": []
                      },
                      "bonusGroup": {
                        "data": {
                          "type": "bonus-groups",
                          "id": "1"
                        }
                      },
                      "customerSources": {
                        "data": [
                          {
                            "type": "customer-sources",
                            "id": "3"
                          }
                        ]
                      },
                      "customerPreferences": {
                        "data": [
                          {
                            "type": "customer-preferences",
                            "id": "1"
                          },
                          {
                            "type": "customer-preferences",
                            "id": "2"
                          }
                        ]
                      },
                      "customerEvents": {
                        "data": []
                      }
                    },
                    "links": {
                      "self": "/customers/8096a6f8-395a-45b4-b87e-9bfbc0f30e79"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "422": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      },
      "patch": {
        "summary": "Bulk update customers",
        "description": "Update several customers data",
        "tags": [
          "Customers API"
        ],
        "operationId": "Bulk update customers",
        "requestBody": {
          "description": "Bulk update customer data",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/requestBodies/CreateCustomerReq/content/application~1vnd.api%2Bjson/schema/properties/data"
                    }
                  }
                }
              },
              "example": {
                "data": [
                  {
                    "type": "customers",
                    "id": "0b655f42-70f5-483d-8519-29547c294604",
                    "attributes": {
                      "createdAt": "2022-07-15T14:04:13+03:00",
                      "birthday": "1996-05-16"
                    },
                    "relationships": {
                      "bonusGroup": {
                        "data": {
                          "id": "4",
                          "type": "bonus-groups"
                        }
                      }
                    }
                  },
                  {
                    "type": "customers",
                    "id": "8096a6f8-395a-45b4-b87e-9bfbc0f30e79",
                    "attributes": {
                      "createdAt": "2022-07-15T14:55:19+03:00",
                      "birthday": "1996-05-16"
                    },
                    "relationships": {
                      "bonusGroup": {
                        "data": {
                          "id": "4",
                          "type": "bonus-groups"
                        }
                      }
                    }
                  },
                  {
                    "type": "customers",
                    "id": "92463640-79be-406f-ae00-d108fa3ae43f",
                    "attributes": {
                      "createdAt": "2022-07-06T16:50:52+03:00",
                      "birthday": "1968-02-10"
                    },
                    "relationships": {
                      "bonusGroup": {
                        "data": {
                          "id": "4",
                          "type": "bonus-groups"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "type": "customers",
                      "id": "0b655f42-70f5-483d-8519-29547c294604",
                      "attributes": {
                        "title": "Jason Becker",
                        "birthday": "1996-05-16",
                        "email": "jason-becker@gmail.com",
                        "instagram": "jason_becker",
                        "status": "on",
                        "isPerson": true,
                        "bonusCard": "52684596",
                        "notes": "Jason Becker is a famous musician. He likes white roses.",
                        "averageCheck": 0,
                        "ordersAmount": 0,
                        "ordersQty": 0,
                        "createdAt": "2022-07-15T11:04:13+00:00",
                        "updatedAt": "2022-07-15T11:04:13+00:00",
                        "spentPoints": 0,
                        "currentPoints": 0,
                        "gender": "male",
                        "phone": "928626",
                        "revision": 2,
                        "countryCode": 7
                      },
                      "relationships": {
                        "person": {
                          "data": null
                        },
                        "discountGroups": {
                          "data": []
                        },
                        "bonusGroup": {
                          "data": {
                            "type": "bonus-groups",
                            "id": "4"
                          }
                        },
                        "customerSources": {
                          "data": [
                            {
                              "type": "customer-sources",
                              "id": "3"
                            }
                          ]
                        },
                        "customerPreferences": {
                          "data": [
                            {
                              "type": "customer-preferences",
                              "id": "1"
                            }
                          ]
                        },
                        "customerEvents": {
                          "data": []
                        }
                      },
                      "links": {
                        "self": "/customers/0b655f42-70f5-483d-8519-29547c294604"
                      }
                    },
                    {
                      "type": "customers",
                      "id": "8096a6f8-395a-45b4-b87e-9bfbc0f30e79",
                      "attributes": {
                        "title": "Bob Ross",
                        "birthday": "1996-05-16",
                        "email": "bob-ross@posiflora.com",
                        "instagram": "bob-ross96",
                        "status": "on",
                        "isPerson": true,
                        "bonusCard": "1234567890",
                        "notes": "Bob ross is a famous painter",
                        "averageCheck": 0,
                        "ordersAmount": 0,
                        "ordersQty": 0,
                        "createdAt": "2022-07-15T11:55:19+00:00",
                        "updatedAt": "2022-07-15T12:28:01+00:00",
                        "spentPoints": 0,
                        "currentPoints": 0,
                        "gender": "male",
                        "phone": "9268693645",
                        "revision": 4,
                        "countryCode": 7
                      },
                      "relationships": {
                        "person": {
                          "data": null
                        },
                        "discountGroups": {
                          "data": []
                        },
                        "bonusGroup": {
                          "data": {
                            "type": "bonus-groups",
                            "id": "4"
                          }
                        },
                        "customerSources": {
                          "data": [
                            {
                              "type": "customer-sources",
                              "id": "3"
                            }
                          ]
                        },
                        "customerPreferences": {
                          "data": [
                            {
                              "type": "customer-preferences",
                              "id": "1"
                            },
                            {
                              "type": "customer-preferences",
                              "id": "2"
                            }
                          ]
                        },
                        "customerEvents": {
                          "data": []
                        }
                      },
                      "links": {
                        "self": "/customers/8096a6f8-395a-45b4-b87e-9bfbc0f30e79"
                      }
                    },
                    {
                      "type": "customers",
                      "id": "92463640-79be-406f-ae00-d108fa3ae43f",
                      "attributes": {
                        "title": "OOO FLOWERS",
                        "birthday": "1968-02-10",
                        "email": "flowers-company@gmail.com",
                        "instagram": null,
                        "status": "on",
                        "isPerson": true,
                        "bonusCard": null,
                        "notes": "",
                        "averageCheck": 0,
                        "ordersAmount": 0,
                        "ordersQty": 0,
                        "createdAt": "2022-07-06T13:50:52+00:00",
                        "updatedAt": "2022-07-06T13:50:52+00:00",
                        "spentPoints": 0,
                        "currentPoints": 0,
                        "gender": "male",
                        "phone": "9286264563",
                        "revision": 1,
                        "countryCode": 7
                      },
                      "relationships": {
                        "person": {
                          "data": null
                        },
                        "discountGroups": {
                          "data": []
                        },
                        "bonusGroup": {
                          "data": {
                            "type": "bonus-groups",
                            "id": "4"
                          }
                        },
                        "customerSources": {
                          "data": [
                            {
                              "type": "customer-sources",
                              "id": "1"
                            }
                          ]
                        },
                        "customerPreferences": {
                          "data": [
                            {
                              "type": "customer-preferences",
                              "id": "2"
                            },
                            {
                              "type": "customer-preferences",
                              "id": "3"
                            },
                            {
                              "type": "customer-preferences",
                              "id": "4"
                            }
                          ]
                        },
                        "customerEvents": {
                          "data": []
                        }
                      },
                      "links": {
                        "self": "/customers/92463640-79be-406f-ae00-d108fa3ae43f"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "422": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customers/{id}": {
      "summary": "Customers API",
      "get": {
        "summary": "Get customer",
        "description": "Returns information about customer with specified ID.",
        "tags": [
          "Customers API"
        ],
        "operationId": "GetCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available entity includes.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "person",
                  "bonusGroup",
                  "bonusGroup.rules",
                  "discountGroups",
                  "discountGroups.rules",
                  "customerSources",
                  "customerPreferences",
                  "customerEvents",
                  "createdBy"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomerResponse"
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      },
      "patch": {
        "summary": "Update customer",
        "description": "Updates customer with specified ID.",
        "tags": [
          "Customers API"
        ],
        "operationId": "UpdateCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available entity includes.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "person",
                  "bonusGroup",
                  "bonusGroup.rules",
                  "discountGroups",
                  "discountGroups.rules",
                  "customerSources",
                  "customerPreferences",
                  "customerEvents",
                  "createdBy"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Update customer data",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/requestBodies/CreateCustomerReq/content/application~1vnd.api%2Bjson/schema/properties/data"
                  }
                }
              },
              "example": {
                "data": {
                  "type": "customers",
                  "attributes": {
                    "phone": "9268693645",
                    "createdAt": "2022-07-15T14:55:19+03:00",
                    "birthday": "1996-05-16"
                  },
                  "relationships": {
                    "customerSources": {
                      "data": [
                        {
                          "id": "3",
                          "type": "customer-sources"
                        }
                      ]
                    },
                    "customerPreferences": {
                      "data": [
                        {
                          "id": "1",
                          "type": "customer-preferences"
                        },
                        {
                          "id": "2",
                          "type": "customer-preferences"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomerResponse"
          },
          "400": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "422": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customers/{id}/bonus-history": {
      "summary": "Customer bonus history API",
      "get": {
        "summary": "Customer bonus history",
        "description": "Returns history for customer bonuses.",
        "tags": [
          "Customers API"
        ],
        "operationId": "getBonusHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "description": "Meta for customer bonus history lines",
                      "type": "object",
                      "properties": {
                        "total": {
                          "description": "Total count of objects",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageNumber": {
                          "description": "Current page number",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "description": "Objects per page",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "data": {
                      "description": "Customer bonus history line",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Object ID",
                          "type": "string"
                        },
                        "type": {
                          "description": "Resource type",
                          "type": "string",
                          "default": "customer-bonus-history-lines"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "description": "Amount of bonuses",
                              "type": "integer",
                              "format": "int32"
                            },
                            "admin": {
                              "description": "Added by admin",
                              "type": "boolean"
                            },
                            "createdAt": {
                              "description": "Date",
                              "type": "string",
                              "format": "date"
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "order": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "default": "orders"
                                    },
                                    "id": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/Worker/properties/links"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "meta": {
                    "total": 2,
                    "pageNumber": 1,
                    "pageSize": 10
                  },
                  "data": [
                    {
                      "type": "customer-bonus-history-lines",
                      "id": "1",
                      "attributes": {
                        "amount": 1500,
                        "admin": true,
                        "createdAt": "2022-07-18T07:03:00+00:00"
                      },
                      "relationships": {
                        "order": {
                          "data": null
                        }
                      },
                      "links": {
                        "self": "/customer-bonus-history-lines/1"
                      }
                    },
                    {
                      "type": "customer-bonus-history-lines",
                      "id": "2",
                      "attributes": {
                        "amount": -120,
                        "admin": true,
                        "createdAt": "2022-07-18T07:03:08+00:00"
                      },
                      "relationships": {
                        "order": {
                          "data": null
                        }
                      },
                      "links": {
                        "self": "/customer-bonus-history-lines/2"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customers/import": {
      "summary": "Customers import API",
      "post": {
        "summary": "Import customers",
        "description": "Imports customer from a custom csv file.",
        "tags": [
          "Customers import API"
        ],
        "operationId": "Import",
        "requestBody": {
          "description": "Import data",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "description": "file",
                    "type": "string",
                    "format": "binary"
                  },
                  "format": {
                    "description": "File format",
                    "type": "string",
                    "enum": [
                      "csv",
                      "xls",
                      "xlsx",
                      "ods"
                    ],
                    "default": "csv"
                  },
                  "delimiter": {
                    "description": "Columns delimiter",
                    "type": "string",
                    "default": ","
                  },
                  "ignoreFirst": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "default": 1
                  }
                },
                "required": [
                  "id",
                  "type"
                ]
              },
              "example": {
                "file": "(binary)",
                "format": "csv",
                "delimiter": ",",
                "ignoreFirst": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            }
                          }
                        },
                        "relationships": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "fields": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "type": "customer-import",
                    "id": "bd05f40f-708b-4726-be9b-86a95564a476",
                    "attributes": {
                      "total": 0,
                      "status": "created",
                      "createdAt": "2022-07-15T12:53:54+00:00"
                    },
                    "relationships": [
                      {
                        "type": "customer-import-row",
                        "id": "874432df-8e74-4ab0-a9e5-3aa2213cfda6",
                        "attributes": {
                          "fields": [
                            "Herman Li",
                            "9012345678",
                            "herman-li@gmail.com",
                            "bonus_card124518",
                            "Famous musician"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      },
      "get": {
        "summary": "Get imports list",
        "description": "List of created imports.",
        "tags": [
          "Customers import API"
        ],
        "operationId": "List",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1v1~1customers~1import~1%7Bid%7D/get/responses/200/content/application~1vnd.api%2Bjson/schema/properties/data"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "type": "customer-import",
                      "id": "ab19b056-696e-4b35-8733-60e0052481bc",
                      "attributes": {
                        "total": 0,
                        "status": "created",
                        "createdAt": "2022-07-15T14:09:26+00:00"
                      }
                    },
                    {
                      "type": "customer-import",
                      "id": "f408069c-2595-4ac0-ae69-b37b6c6972a6",
                      "attributes": {
                        "total": 0,
                        "status": "created",
                        "createdAt": "2022-07-15T13:48:34+00:00"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/import/{id}": {
      "summary": "Customers import API",
      "get": {
        "summary": "Get import",
        "description": "Get import info.",
        "tags": [
          "Customers import API"
        ],
        "operationId": "getImport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Import ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Customer import resource",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "queue": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "type": "customer-import",
                    "id": "022760b6-a39b-4e51-8ca3-f5a6238d5775",
                    "attributes": {
                      "total": 0,
                      "status": "created",
                      "createdAt": "2022-07-15T14:22:59+00:00"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      },
      "delete": {
        "summary": "Delete import",
        "description": "Delete import.",
        "tags": [
          "Customers import API"
        ],
        "operationId": "deleteImport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Import ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response on success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customers/import/{id}/validate": {
      "summary": "Customers import API",
      "post": {
        "summary": "Validate import",
        "description": "Map fields from file to customers fields.",
        "tags": [
          "Customers import API"
        ],
        "operationId": "Validate",
        "requestBody": {
          "description": "Validation import data",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "mapping-customers"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "phone": {
                            "type": "integer"
                          },
                          "email": {
                            "type": "integer"
                          },
                          "bonusCard": {
                            "type": "integer"
                          },
                          "notes": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "birthday": {
                            "type": "string",
                            "format": "date"
                          },
                          "currentPoints": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "gender": {
                            "type": "string",
                            "enum": [
                              "male",
                              "female"
                            ]
                          },
                          "instagram": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "mapping-customers",
                  "attributes": {
                    "title": [
                      0
                    ],
                    "phone": 1,
                    "email": 2,
                    "bonusCard": 3,
                    "notes": [
                      4
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "$ref": "#/paths/~1v1~1customers~1import~1%7Bid%7D/get/responses/200/content/application~1vnd.api%2Bjson/schema/properties/data"
                    }
                  }
                },
                "example": {
                  "data": {
                    "type": "customer-import",
                    "id": "72a0969c-f355-482f-a438-5117b301a83d",
                    "attributes": {
                      "total": 0,
                      "status": "waiting",
                      "createdAt": "2022-07-15T13:52:42+00:00",
                      "queue": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customers/import/{id}/stats": {
      "summary": "Customers Stats API",
      "get": {
        "summary": "Get customer stats",
        "description": "Get customers stats during specific period.",
        "tags": [
          "Customer Stats API"
        ],
        "operationId": "getStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[startDate]",
            "in": "query",
            "description": "Filter by date (start date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[endDate]",
            "in": "query",
            "description": "Filter by date (end date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[format]",
            "in": "query",
            "description": "Group by period",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week",
                "day"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "year",
                            "month",
                            "week",
                            "day"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "Customer stats",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "description": "Resource type",
                            "type": "string",
                            "default": "customer-stats"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date"
                              },
                              "amount": {
                                "type": "integer",
                                "format": "int32"
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/Worker/properties/links"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "meta": {
                    "total": 0,
                    "format": "week"
                  },
                  "data": [
                    {
                      "type": "customer-stats",
                      "id": "1",
                      "attributes": {
                        "date": "2022-07-01",
                        "amount": 0
                      },
                      "links": {
                        "self": "/customer-stats/1"
                      }
                    },
                    {
                      "type": "customer-stats",
                      "id": "2",
                      "attributes": {
                        "date": "2022-07-04",
                        "amount": 0
                      },
                      "links": {
                        "self": "/customer-stats/2"
                      }
                    },
                    {
                      "type": "customer-stats",
                      "id": "3",
                      "attributes": {
                        "date": "2022-07-11",
                        "amount": 0
                      },
                      "links": {
                        "self": "/customer-stats/3"
                      }
                    },
                    {
                      "type": "customer-stats",
                      "id": "4",
                      "attributes": {
                        "date": "2022-07-18",
                        "amount": 0
                      },
                      "links": {
                        "self": "/customer-stats/4"
                      }
                    },
                    {
                      "type": "customer-stats",
                      "id": "5",
                      "attributes": {
                        "date": "2022-07-25",
                        "amount": 0
                      },
                      "links": {
                        "self": "/customer-stats/5"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "422": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customers/discount-groups": {
      "post": {
        "summary": "Bulk attach discount group to customers",
        "tags": [
          "Customers API"
        ],
        "operationId": "BulkAttachDiscountGroup",
        "requestBody": {
          "description": "Discount groups data",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "customer-discount-groups"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "discountGroup": {
                              "type": "string"
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "customer": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "$ref": "#/paths/~1v1~1orders/post/requestBody/content/application~1vnd.api%2Bjson/schema/properties/data/properties/relationships/properties/customer/properties/data"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": [
                  {
                    "type": "customer-discount-groups",
                    "attributes": {
                      "discountGroup": 2
                    },
                    "relationships": {
                      "customer": {
                        "data": {
                          "id": "8096a6f8-395a-45b4-b87e-9bfbc0f30e79",
                          "type": "customers"
                        }
                      }
                    }
                  },
                  {
                    "type": "customer-discount-groups",
                    "attributes": {
                      "discountGroup": 2
                    },
                    "relationships": {
                      "customer": {
                        "data": {
                          "id": "92463640-79be-406f-ae00-d108fa3ae43f",
                          "type": "customers"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "customer-discount-groups"
                        },
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "discountGroup": {
                              "type": "string"
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "customer": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "$ref": "#/paths/~1v1~1orders/post/requestBody/content/application~1vnd.api%2Bjson/schema/properties/data/properties/relationships/properties/customer/properties/data"
                                }
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/Worker/properties/links"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "type": "customer-discount-groups",
                      "id": "3",
                      "attributes": {
                        "discountGroup": 2
                      },
                      "relationships": {
                        "customer": {
                          "data": {
                            "type": "customers",
                            "id": "8096a6f8-395a-45b4-b87e-9bfbc0f30e79"
                          }
                        }
                      },
                      "links": {
                        "self": "/customer-discount-groups/3"
                      }
                    },
                    {
                      "type": "customer-discount-groups",
                      "id": "4",
                      "attributes": {
                        "discountGroup": 2
                      },
                      "relationships": {
                        "customer": {
                          "data": {
                            "type": "customers",
                            "id": "92463640-79be-406f-ae00-d108fa3ae43f"
                          }
                        }
                      },
                      "links": {
                        "self": "/customer-discount-groups/4"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "422": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customers/filter-phone-numbers": {
      "post": {
        "summary": "Filter phone numbers by their presence in the Customer table",
        "tags": [
          "Customers API"
        ],
        "operationId": "FilterPhoneNumbers",
        "requestBody": {
          "description": "Phone numbers data",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "default": "customer-phone-numbers"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "phoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/Worker/properties/links"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "attributes": {
                    "phoneNumbers": [
                      "77779208653",
                      "77779208653",
                      "77472291318",
                      "77472291318",
                      "3752557278996",
                      "375293623231"
                    ]
                  },
                  "type": "customer-phone-numbers"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/paths/~1v1~1customers~1filter-phone-numbers/post/requestBody/content/application~1vnd.api%2Bjson/schema/properties/data"
                    }
                  }
                },
                "example": {
                  "data": {
                    "type": "customer-phone-numbers",
                    "id": "current",
                    "attributes": {
                      "phoneNumbers": [
                        "3752557278996",
                        "375293623231"
                      ]
                    },
                    "links": {
                      "self": "/customer-phone-numbers/current"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "422": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customers-stats": {
      "summary": "Customers Stats API",
      "get": {
        "summary": "Get stats for all customers",
        "description": "Get stats during specific period for all customers.",
        "tags": [
          "Customer Stats API"
        ],
        "operationId": "getCustomersStats",
        "parameters": [
          {
            "name": "filter[rangeFrom]",
            "in": "query",
            "description": "Filter by date (start date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[rangeTo]",
            "in": "query",
            "description": "Filter by date (end date)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[range]",
            "in": "query",
            "description": "Group by period",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week",
                "day"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "repeatedSalesRevenuePercentage": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "repeatedSalesRevenue": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "ordersWithCustomersPercentage": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "calculatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "Customers stats",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "description": "Resource type",
                            "type": "string",
                            "default": "stats-customers"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date"
                              },
                              "newCustomersCount": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "bonusesSpent": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "bonusesAccumulated": {
                                "type": "integer",
                                "format": "int32"
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/Worker/properties/links"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "meta": {
                    "repeatedSalesRevenuePercentage": 0,
                    "repeatedSalesRevenue": 0,
                    "ordersWithCustomersPercentage": 0,
                    "calculatedAt": "2022-07-18 10:25:01"
                  },
                  "data": [
                    {
                      "type": "stats-customers",
                      "id": "0",
                      "attributes": {
                        "date": "2022-07-18",
                        "newCustomersCount": 0,
                        "bonusesSpent": 120,
                        "bonusesAccumulated": 1500
                      },
                      "links": {
                        "self": "/stats-customers/0"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          },
          "422": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customer-preferences": {
      "summary": "Customer Preferences API",
      "get": {
        "summary": "Get customer preferences list",
        "description": "Returns list of customers preferences.",
        "tags": [
          "Customer preferences API"
        ],
        "operationId": "GetListAction",
        "parameters": [
          {
            "name": "filter[onlyActive]",
            "in": "query",
            "description": "Filter by active custom preferences (show deleted or not).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[revision]",
            "in": "query",
            "description": "Filter by customer preferences revision (min value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerPreference"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/paths/~1v1~1stores/get/responses/200/content/application~1vnd.api%2Bjson/schema/properties/meta/properties/page"
                        },
                        "total": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "revision": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "meta": {
                    "page": {
                      "number": 1,
                      "size": null
                    },
                    "total": 6,
                    "revision": 9
                  },
                  "data": [
                    {
                      "type": "customer-preferences",
                      "id": "1",
                      "attributes": {
                        "title": "Loves roses",
                        "deleted": true,
                        "revision": 2
                      },
                      "links": {
                        "self": "/customer-preferences/1"
                      }
                    },
                    {
                      "type": "customer-preferences",
                      "id": "2",
                      "attributes": {
                        "title": "Only fresh flowers",
                        "deleted": false,
                        "revision": 3
                      },
                      "links": {
                        "self": "/customer-preferences/2"
                      }
                    },
                    {
                      "type": "customer-preferences",
                      "id": "3",
                      "attributes": {
                        "title": "Only pays via cash",
                        "deleted": true,
                        "revision": 8
                      },
                      "links": {
                        "self": "/customer-preferences/3"
                      }
                    },
                    {
                      "type": "customer-preferences",
                      "id": "4",
                      "attributes": {
                        "title": "Usually make orders after 7pm",
                        "deleted": true,
                        "revision": 9
                      },
                      "links": {
                        "self": "/customer-preferences/4"
                      }
                    },
                    {
                      "type": "customer-preferences",
                      "id": "5",
                      "attributes": {
                        "title": "Usually order with delivery",
                        "deleted": false,
                        "revision": 6
                      },
                      "links": {
                        "self": "/customer-preferences/5"
                      }
                    },
                    {
                      "type": "customer-preferences",
                      "id": "6",
                      "attributes": {
                        "title": "Hates purple flowers",
                        "deleted": false,
                        "revision": 7
                      },
                      "links": {
                        "self": "/customer-preferences/6"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create customer preference",
        "description": "Creates new customer preference.",
        "tags": [
          "Customer preferences API"
        ],
        "operationId": "createAction",
        "requestBody": {
          "description": "Create customer preference",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "format": "string",
                        "default": "customer-preferences"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "customer-preferences",
                  "attributes": {
                    "title": "Loves white peonies"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "items": {
                        "$ref": "#/components/schemas/CustomerPreference"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "type": "customer-preferences",
                    "id": "7",
                    "attributes": {
                      "title": "Loves white peonies",
                      "deleted": false,
                      "revision": 10
                    },
                    "links": {
                      "self": "/customer-preferences/7"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete customer preferences",
        "description": "Delete customer preferences",
        "tags": [
          "Customer preferences API"
        ],
        "operationId": "deleteAction",
        "requestBody": {
          "description": "Delete customer preference data",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "customer-preferences"
                        },
                        "id": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": [
                  {
                    "type": "customer-preferences",
                    "id": 7
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customer-preferences/{id}": {
      "summary": "Customer Preferences API",
      "patch": {
        "summary": "Update customer preference",
        "description": "Updates customer preference.",
        "tags": [
          "Customer preferences API"
        ],
        "operationId": "updateAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer preference ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update customer preference",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "customer-preferences"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "customer-preferences",
                  "attributes": {
                    "title": "Loves white peonies"
                  },
                  "id": 7
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/paths/~1v1~1customer-preferences/post/responses/201"
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customer-sources": {
      "summary": "Customer Sources API",
      "get": {
        "summary": "Get customer sources list",
        "description": "Returns list of customers sources.",
        "tags": [
          "Customer Sources API"
        ],
        "operationId": "GetListAction",
        "parameters": [
          {
            "name": "filter[disabled]",
            "in": "query",
            "description": "Filter by active custom preferences (show deleted or not).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[revision]",
            "in": "query",
            "description": "Filter by customer preferences revision (min value).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerSource"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/paths/~1v1~1stores/get/responses/200/content/application~1vnd.api%2Bjson/schema/properties/meta/properties/page"
                        },
                        "total": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "revision": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "meta": {
                    "page": {
                      "number": 1,
                      "size": null
                    },
                    "total": 5,
                    "revision": 10
                  },
                  "data": [
                    {
                      "type": "customer-sources",
                      "id": "1",
                      "attributes": {
                        "title": "Social network",
                        "deleted": false,
                        "revision": 1
                      },
                      "links": {
                        "self": "/customer-sources/1"
                      }
                    },
                    {
                      "type": "customer-sources",
                      "id": "2",
                      "attributes": {
                        "title": "Street advertisements",
                        "deleted": true,
                        "revision": 10
                      },
                      "links": {
                        "self": "/customer-sources/2"
                      }
                    },
                    {
                      "type": "customer-sources",
                      "id": "3",
                      "attributes": {
                        "title": "Online advertisements",
                        "deleted": false,
                        "revision": 3
                      },
                      "links": {
                        "self": "/customer-sources/3"
                      }
                    },
                    {
                      "type": "customer-sources",
                      "id": "4",
                      "attributes": {
                        "title": "Cold calls advertisements",
                        "deleted": true,
                        "revision": 9
                      },
                      "links": {
                        "self": "/customer-sources/4"
                      }
                    },
                    {
                      "type": "customer-sources",
                      "id": "5",
                      "attributes": {
                        "title": "Friends",
                        "deleted": true,
                        "revision": 8
                      },
                      "links": {
                        "self": "/customer-sources/5"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create customer source",
        "description": "Creates new customer source.",
        "tags": [
          "Customer Sources API"
        ],
        "operationId": "createAction",
        "requestBody": {
          "description": "Create customer source",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "format": "string",
                        "default": "customer-sources"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "customer-sources",
                  "attributes": {
                    "title": "Instagram"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "items": {
                        "$ref": "#/components/schemas/CustomerSource"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "type": "customer-sources",
                    "id": "6",
                    "attributes": {
                      "title": "Instagram",
                      "deleted": false,
                      "revision": 11
                    },
                    "links": {
                      "self": "/customer-sources/6"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete customer sources",
        "description": "Delete customer sources",
        "tags": [
          "Customer Sources API"
        ],
        "operationId": "deleteAction",
        "requestBody": {
          "description": "Update customer source",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "customer-sources"
                        },
                        "id": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": [
                  {
                    "type": "customer-sources",
                    "id": 7
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customer-sources/{id}": {
      "summary": "Customer Sources API",
      "patch": {
        "summary": "Update customer source",
        "description": "Updates customer source.",
        "tags": [
          "Customer Sources API"
        ],
        "operationId": "updateAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer source ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Customer data",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "customer-sources"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "customer-sources",
                  "attributes": {
                    "title": "Instagram"
                  },
                  "id": 6
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/paths/~1v1~1customer-sources/post/responses/201"
          },
          "404": {
            "$ref": "#/paths/~1v1~1orders/post/responses/400"
          }
        }
      }
    },
    "/v1/customer-celebrations": {
      "summary": "Customer Celebrations API",
      "get": {
        "summary": "Get customer celebrations list",
        "description": "Returns list of customers celebrations.",
        "tags": [
          "Customer Celebrations API"
        ],
        "operationId": "GetListAction",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "type": {
                            "type": "string",
                            "default": "customer-celebrations"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "dates": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "type": {
                                          "type": "string",
                                          "default": "celebration-dates"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/Worker/properties/links"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/paths/~1v1~1stores/get/responses/200/content/application~1vnd.api%2Bjson/schema/properties/meta/properties/page"
                        },
                        "total": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "minYear": {
                          "type": "string"
                        }
                      }
                    },
                    "included": {
[...]
